

.blog-carousel{
    height: 702px;
    width: 100%;
}
.owl-nav{
    position: relative;
    top: -60%;
}
.owl-nav button{
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    width: 35px !important;
    height: 100px;
    border-radius: 0 !important;
}
.owl-nav span{
    color: white;
    font-size: 40px;
    margin-bottom: 13px;
}
.owl-nav .owl-prev{
    position: absolute;
    left: -3px;
  
   
}
.owl-nav .owl-next{
    position: absolute;
    right: -3px;
 
}

.owl-theme .owl-nav button:hover {
    background-color: rgb(0, 0, 0, 0.5) !important;
}
.blog-carousel:hover .owl-nav{
    display: block !important;
}
.blog-carousel:hover  button{
    background-color: rgb(0, 0, 0, 0.5) !important;
}
.slider-img{
    width: 100%;
    height: 708px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
}
.slider-1{
    background-image: url('../Img/slide_1_1.jpg');
}
.slider-2{
    background-image: url('../Img/slide_1_2.jpg');
}
.slider-3{
    background-image: url('../Img/slide_1_3.jpg');
}
.slider-content{
    position: absolute;
    right: 10%;
    top: 43%;
}
.slider-title{
    font-weight: 300;
    
}
.slider-subtitle{
    font-weight: 900;
    --animate-delay: 1.4s;
}
.slider-subtitle, .slider-title{
    font-size: 41px;
    color: #4b4e53;
    font-family: Lato, Arial,Helvetica,sans-serif;
    line-height: 1;
}
.slider-dec{
    --animate-delay: 1.6s;
    margin-top: 25px;
    font-size: 16px;
    color: #4b4e53;
    font-weight: 300;
}
.slider-2 .slider-title{
    font-size: 25px;
    line-height: 1.3;
    letter-spacing: 2px;
}
.slider-2 .slider-subtitle{
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: 2px;
}
.slider-3 .slider-dec{
    display: none;
}
.slider-3 .slider-subtitle, .slider-3 .slider-title{
    font-size: 31px;
    line-height: 1.3;
}
.medium{
    padding: 6px 35px 6px 35px !important;
    display: inline-block;
    text-decoration: none;
}
.gray-btn{
    color: white;
    background-color: #535961;
}
.gray-btn:hover{
    background-color: #36383b;
}
.hover-black{
    display: none;
    color: #7a7b80;
    border: 2px solid #c5c2c2;
    background-color: transparent;

}
.hover-black:hover{
    color: white;
    background-color: #4b4e53;
    border-color: #4b4e53;
}
.local-scroll{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    animation-name: animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
}
.local-scroll a{
    color: #4b4e53;
    opacity: 0.7;
    font-size: 22px;
}

@keyframes animation {
    0%{
        transform: translateY(-8px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-8px);
    }
}


/* about section */
.fes1-cont{
    padding-top: 80px;
    padding-bottom: 50px;
    
}
.img-cont{
    height: 250px;
}
.img-cont img{
    width: 100%;
    height: 100%;
}

.main-title{
    margin: 30px 0 40px 0 !important;
}
.title{
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
}
.bold{
    font-weight: 700;
}
.line{
    margin-top: 15px;
    height: 3px;
    width: 100px;
    background: #4b4e53;
}
.fes1-box{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box-icon i{
    color: #68696a;
    font-size: 45px;
}

.box-content{
    margin-left: 20px;
}
.box-content h3{
    color: #4b4e53;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.box-content p{
    font-size: 14px;
    color: #7e8082;
    margin: 0 0 10px;
    font-weight: 400;
}
hr{
    border: 1px solid #eee !important;
    margin:0 !important ;
    opacity: 0.8 !important;
}
.fes2-main-text{
    margin: 0 auto;
    padding: 70px 30px 70px 30px;
    max-width: 500px;
}
.fes2-main-text .title{
    font-size: 30px;
    line-height: 30px;
}
.fes2-main-text .line{
    margin-top:11px ;
}
.fes2-main-text p{
    margin-top: 30px;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #7e8082;
}
.fes2-img, .fes2-2-img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 320px;
    
}
.fes2-img{
    background-image: url(http://abcgomel.ru/haswell/images/fes2.jpg);
}
.fes2-2-img{
    background-image: url(http://abcgomel.ru/haswell/images/fes3.jpg);
}

.fes4-cont{
    padding-top: 80px;
    padding-bottom: 30px;
}
.fes4-box{
    margin-bottom: 50px;
}
.section-title{
    padding: 22px 25px 24px 25px;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #4b4e53;
    border-left: #4b4e53 2px solid;
}
.fes4-box .box-content h3{
    margin: 0px 0 3px;
}
.dec{
    font-size: 14px;
    color: #7e8082;
    font-weight: 400;
}
.port-item{
    padding: 0  15px 15px !important;
    position: relative;
    overflow: hidden;
    
}
.port-item > div{
    overflow: hidden;
}
.port-img{

    transition: all .7s ease;
    
}
.port-img img{
    width: 100%;
    height: 100%;
}
.port-overlay-cont{
    padding: 40px 40px 50px 50px;
    display: none;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation-name: test;
    animation-duration: .3s;
    
}
@keyframes test {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.port-title-cont{
    margin-bottom: 15px;
    
}
.port-title-cont  h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.port-title-cont h3 a{
    text-decoration: none;
    color: white;
}
.port-title-cont h3 a:hover{
    color: #dad4d4;
}
.port-title-cont span a, .port-title-cont span{
    color: #bebebe;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}
.port-title-cont span a:hover{
    color: white;
}
.slash-divider{
    color:#7e8082 ;
    margin-left: 7px;
    margin-right: 7px;
}
.port-btn-cont a, .port-btn-cont div {
    color: #bebebe;
    font-size: 18px;
    text-decoration: none;
}
.port-btn-cont a:hover{
    color: white;
}



.port-item:hover  .port-overlay-cont{
    display: block;
}
.port-item:hover .port-img {
    transform: scale(1.3);
} 

.port-view-more{
    padding-top: 40px;
    padding-bottom: 37px;
    background: #eee;
    color: #4b4e53;
    letter-spacing: 1.4px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.port-view-more:hover{
    background-color: #e4e2e2 ;
}

.clients{
    padding-top: 80px;
    padding-bottom:80px ;
}
.client-row > div{
    padding: 10px 20px 10px 30px;
}

.quote{
    font-size: 14px;
}
.quote p{
    margin-bottom: 24px;
    color: #4b4e53;
    font-size: 20px;
    line-height: 32px;
    font-weight: 100;
}
.footer::before{
    content: '\2014 \00A0';
}
.quote .footer{
    font-size: 14px;
    color: #7e8082;
    font-weight: 300;

}

.work-proc{
    background-image: url(http://abcgomel.ru/haswell/images/work-proc-bg.jpg);
    color: #f1f1f1;
}
.mb-50{
    margin-bottom: 50px !important;
}
.work-proc p{
    color: #d3d4d5;
    font-size: 14px;
}

.team{
    padding-top: 80px;
    background-color: #f4f4f4;
}
.team-all-img{
    width: 100%;
    height: 100%;
}
.counter{
    padding: 80px 0;
}

.ads-img{
    padding-top: 50px;
    padding-bottom: 45px;
}
.ads-img img{
    width: 100%;
    height: 100%;
}

.video-ads{
    background-image: url(http://abcgomel.ru/haswell/images/work-proc-bg.jpg);

}
.video-ads-text-cont{
    padding: 100px 0;
}
.video-ads-text{
    font-size: 28px;
    line-height: 28px;
    color: #f1f1f1;
    font-family: Lato,Arial,Helvetica,sans-serif;
    font-weight: 300;
}
.video-ads-a{
    padding: 10px;
    font-size: 80px;
}
.video-ads a{
    color: white;
    transition: all .3s ease;
}
.video-ads a:hover{
    color: #7a7b80;
}

.news{
    padding-top: 80px;
    padding-bottom: 10px;
}
.section-more{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #7e8082;
    width: 100px;
}
.section-more:hover{
    color: #4b4e53;
}
.post-prev-img{
    margin-bottom: 25px;
}
.post-prev-img img{
    width: 100%;
    transition: all .3s ease;
}
.post-prev-img:hover img{
    opacity: 0.7;
}
.post-prev-title h3{
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 26px;
   
}
.post-prev-title h3 a{
    color: #4b4e53;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease;
}
.post-prev-title h3 a:hover{
    opacity: .7;
}
.post-prev-info{
    margin-bottom: 14px;
}
.post-prev-info, .post-prev-info a{
    color:#a3a6a8 ;
    font-size: 13px;
    text-decoration: none;
    transition: all .3s ease;
}
.post-prev-info a:hover{
    color: #4b4e53;
}
.post-prev-text{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #7e8082;
    text-align: justify;
}
.post-prev-more-left a{
    color: #4b4e53;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease;
}
.post-prev-more-left a:hover{
    opacity: 0.7;
}
.post-prev-count{
    color: #7e8082;
    text-decoration: none;
    font-size: 12px;
}
.post-prev-count i{
    font-size: 16px;
}
.post-prev-more-right a{
    transition: all .3s ease;
}
.post-prev-more-right a:hover{
    opacity: 0.8;
}
.pb-70{
    padding-bottom: 70px;
}



/* portfolio */
.portfolio .header-container{
    background-color: white;
}
.page-title{
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #eee;
}
.page-title-text{
    margin-top: 40px;
    margin-bottom:10px ;
    font-size: 20px;
    line-height: 24px;
    color: #4b4e53;
    font-family: Lato,Arial,Helvetica,sans-serif;
    letter-spacing: 5px;
}
.breadcrumbs a, .breadcrumbs span{
    text-decoration: none;
    font-size: 11px;
    color: #7e8082;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .3s ease;

}
.breadcrumbs a:hover{
    color: #101010;
}
.breadcrumbs .bread-current{
    color: #101010;
}
.main{
    padding-top: 80px;
    padding-bottom: 80px;
}
.mb-80{
    margin-bottom: 80px !important;
}
.main .section-title{
    padding: 15px 20px 17px 23px !important;
    margin: 0 0 30px !important;
    font-size: 23px;
    letter-spacing: 3px;
    color: #4b4e53 !important;
    font-weight: 400;
}
.main-dec{
    font-size: 14px;
    color: #7e8082;
    line-height: 25px;
}
.main .port-item:hover  .port-overlay-cont{
    display: flex;
}



/* portfolio-boxed-4col */
.gray-bg{
    background-color: #eee;

}
.white-bg{
    background-color: white;
}
.plr-30{
    padding-left: 30px;
    padding-right: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pt-50{
    padding-top: 50px;
}
.port-filter{
    margin: 0 0 45px 0;
}
.port-filter a{
    text-decoration: none;
    color: #101010;
    border-color: #101010;
    margin: 0 21px;
    margin-bottom: 9px;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    width: 40%;
}
.port-filter .active-filter{
    color: #101010;
    border-color: #101010;
}
.port-filter a:hover{
    color: #555;
}
.items{
    height: 1269.6px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /* grid-template-rows:repeat(3, 220px); */
    grid-template-rows:repeat(6, 1fr);
}
.item-img:hover .port-overlay-cont{
    display: block;
}
.items .port-overlay-cont{
    padding: 20px 10px;
}
.item-img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}
.item-img img{
    transition: all .8s ease;
}
.item-img:hover img{
    transform: scale(1.3);
}


/* shop-single */
.p-110{
    padding-top: 80px;
    padding-bottom: 80px;
}

.shop-info{
    background-color:#303236 ;
    padding-top: 80px;
    padding-bottom: 40px;
}
.shop-info .icon-globe{
    font-size: 40px;
    line-height: 40px;
    color: white;
}
.shop-info h6{
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 18px;
    font-size: 12px;
    font-weight: 500;
}
.blog-title{
    margin-bottom: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.blog-carousel-2 .owl-nav button{
    height: 80px;
    width: 40px !important;
}
.blog-carousel-2 .owl-nav span{
    color: black;
    font-size: 40px;
    margin-bottom: 13px;
}
.blog-carousel-2 .owl-nav .owl-prev{
    position: absolute;
    left: -25px;
    box-shadow: 1px 1px 0 rgba(0,0,0,.1);
    animation-name: slider-btn-prev;
    animation-duration: .3s;
   
}
.blog-carousel-2 .owl-nav .owl-next{
    position: absolute;
    right: -25px;
    box-shadow: 1px 1px 0 rgba(0,0,0,.1);
    animation-name: slider-btn-next;
    animation-duration: .3s;
}

.mb-100{
    margin-bottom: 100px !important;
}
.bootstrap-tabs{
    margin-bottom: 20px !important;
}
.bootstrap-tabs .nav-link{
    font-size: 12px;
    margin: 0 2px 0 0;
    color: #101010 !important;
    padding: 14px 20px !important;
    border-radius: 0 !important;
    letter-spacing: 1px;
}
.bootstrap-tabs .nav-link:hover{
    background-color: #eee;
}
.tabs-content p{
    color: #7e8082;
    font-size: 14px;
    line-height: 25px;
}

.sale-label-cont{
    position: absolute;
    top: -20px;
    right: -10px;
    font-size: 13px;
}
.sale-label{
    display: inline-block;
    padding-top: 17px;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    background: #ffea00;
    color: #4b4e53;
}
.post-prev-img img{
    cursor: pointer;
}
.mb-30{
    margin-bottom: 30px !important;
}
del{
    color: #7e8082;
}
.content h3{
    color: #4b4e53;
    font-family:Lato,Arial,Helvetica,sans-serif ;
    /* font-size: 24px; */
    
}
.content-dec{
    color: #7e8082;
    font-size: 14px;
}

#select{
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #dedede;
    padding: 9px 20px 9px 10px;
}
.number-input{
    border: 1px solid #dedede;
    padding: 9px 15px;
}
.shop-add-btn{
    width: 90%;
}
.shop-add-btn .medium{
    padding: 10px 37px 10px 37px !important;
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
}
.shop-sub-btn-cont a{
    text-decoration: none;
    color: #7e8082;
}
.product-info{
    font-size: 12px !important;
}
.product-info >div{
    color: #7e8082;
}





@keyframes slider-btn-next {
    0%{
  
        transform: translateX(20px);
    }
    100%{
       
        transform: translateX(0);
    }
}
@keyframes slider-btn-prev {
    0%{  
        transform: translateX(-20px);
    }
    100%{
       
        transform: translateX(0);
    }
}

.blog-carousel-2 .owl-theme .owl-nav button:hover {
    background-color: white !important;
}

.blog-carousel-2:hover .owl-nav{
    display: block !important;
}
.blog-carousel-2:hover button{
    background-color: white !important;
}
.blog-carousel-2 .post-prev-title a{
    color: #7e8082;
    font-weight: 400 !important;
}

.blog-carousel-2 .post-prev-title a:hover{
    color: black !important;
    opacity: 1;
}

.product-info a{
    text-decoration: none;
    color: #4b4e53;
    font-size: 12px;
}
.product-info a:hover{
    color: #7e8082;
}



/* shop cart */

.shopping-cart-table th{
    color: #4b4e53;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}
.table>thead>tr{
    padding: 8px;
    vertical-align: top;
    border: 1px solid #ddd;
}
.table>tbody>tr{
    border: 1px solid #ddd;
}
.table>tbody>tr>td{
    color: #4b4e53;
    font-size: 14px;
}
.table>tbody>tr>td a{
    color: #4b4e53;
    text-decoration: none;
}
.input-border{
    border: 1px solid #dedede;
    padding: 9px 15px;
}
.icon-close i{
    font-size: 20px;
    color: #7a7b80;
}
.gray-light{
    color: #4b4e53;
    background-color: #d7d9dc;
    border: none;
    font-size: 14px;
    padding: 10px 37px 10px 37px !important;
}

.gray-light:hover{
    color: white;
    background-color: #4b4e53;
}
.shipping-cont{
    padding: 1px 40px 40px 40px;
}
.gray-light-bg{
    background-color: #eee;
}
.shipping-cont h4{
    margin-bottom: 25px;
    margin-top: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4b4e53;
}
.controled{
    border: none;
    border-bottom: 1px solid #a6a7a9;
    border-radius: 0;
    background: 0 ;
    color: #4b4e53;
    font-size: 14px;
    padding: 8px 10px 8px 0;
    width: 100%;
    outline: none !important;
}
input.medium{
    padding: 10px 37px 10px 37px !important;
}
.total h5{
    margin-bottom: 10px;
}
.total h5 span{
    color: #4b4e53;
    font-size: 14px;
}
.total h3 .order-total-text{
    font-weight: 300 !important;
    font-family: Lato,Arial,Helvetica,sans-serif;
}
button.medium{
    padding: 10px 37px 10px 37px !important;
}


/* home-shop */

.footer-black{
    background-color: #303236;
    color: white;
}

.footer-black .footer-text-cont, .footer-black .footer-text-cont a{
    color: #ffffffb3;
}
.footer-black .widget ul li a{
    color: #ffffffb3;
}

.footer-black .widget ul li a:hover{
    color: white;
}

.footer-black .widget .post-prev-title h3 a{
    color:  #ffffffb3 !important;
}
.footer-black .widget .post-prev-title h3 a:hover{
   opacity: 1 !important;
   color: white !important;
}
.footer-black .footer-copy-cont a{
    color:#ffffffb3; ;
}

.footer-black .footer-copy-cont a:hover{
    color: white !important;
}

.slider-1-shop{
    background-image: url(	http://abcgomel.ru/haswell/images/flexslider/shop1.jpg);
}
.blog-carousel-shop{
    /* padding-top: 93px; */
    height: 250px;
}
.blog-carousel-shop .slider-img{
    height: 250px;
}

.blog-carousel-shop .slider-content{
    left: 34px !important;
    right: auto;
}
.slider-2-shop {
    background-image: url(http://abcgomel.ru/haswell/images/flexslider/shop2.jpg);
}
.slider-2-shop .slider-content{
    
    left: 50% !important;
    top: 50%;
    transform: translate(-50%,-50%);
}

.slider-2-shop .slider-content h2{
    letter-spacing: 3px;
    font-size: 20px;
}
.slider-3-shop
{
    background-image: url(http://abcgomel.ru/haswell/images/flexslider/shop3.jpg);
}

.slider-3-shop .slider-content{
    top: 50% !important;
}

.slider-3-shop .slider-content > div {
    font-size: 25px;
}

.mb-10{
    margin-bottom: 10px;
}

.shop-dep-text-cont{
    position: absolute;
    left: 24px;
    bottom: 20px;
    background: #fff;
    padding: 17px 20px 15px 20px;
    min-width: 160px;
}
.shop-dep-text-cont h4{
    font-size: 18px;
    color: #4b4e53;
}
.shop-dep-text-cont span{
    color: #7e8082;
    font-size: 14px;
}
.shop-img{
    overflow: hidden;
}
.shop-img img{
    transition: all .6s ease;
}

.shop-dep-item:hover img{
    transform: scale(1.2);
}
.yellow-bg{
    background-color: #ffea00!important;
}

.shop-ad-height{
    height: 200px;
}
.shop-ad-text{
    font-size: 34px;
    color: #4b4e53;
    font-family: Lato;
}
.p-40{
    padding: 40px;
}

.gray-light-h3{
    font-size: 34px;
    color: #4b4e53;
    font-family: Lato;
}

.text-center-now  h3{
    display: inline-block;
    padding: 30px;
}

.best-sellers .post-prev-count .shop-add-btn{
    width: 80% !important;
}


.indent-header-cont{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6,auto);
    gap: 14px;
}

.grid-item-2{
    grid-column: 2/2;
    grid-row: 1/3;
}
.grid-item-3{
    grid-row: 2/5;
}
.grid-item-4{
    grid-column: 2/2;
    grid-row: 3/5;
}
.grid-item-5{
    grid-column:1/1 ;
    grid-row: 5/5;
}


.grid-item-6{
    grid-column:2/2 ;
    grid-row: 5/7;
}

.indent-header .port-overlay-cont{
    padding: 40px 40px 50px 50px;
}





@media (max-width:767px) {
    .input-code, .gray-light{
        width: 100%;
        
    }
    
}

@media screen and (max-width:576px){
    .port-item .port-overlay-cont{
        padding: 20px;
    }
}

@media screen and (max-width:480px) {
    .blog-carousel-1 .slider-content{
        width: 100%;
        height: 250px;
        background-color: white;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and  (min-width:576px){
    .slider-title{
        font-size: 49px;
    }
    .slider-content{
        right: 15%;
    }
    .slider-2 .slider-content{
        right: 6%;
    }
    .slider-2 .slider-title{
        font-size: 31px;
        
    }
    .slider-2 .slider-subtitle{
        font-size: 31px;
        
    }
    .slider-3 .slider-content{
        right: 6%;
    }
    .slider-3 .slider-subtitle, .slider-3 .slider-title{
        font-size: 37px;
    }
    /* portfolio boxed 4column */
    .port-filter a{
        width: 25%;
    }

    /* shop-home */
    .slider-2-shop .slider-content{
        width: auto;
        
    }
}
@media screen and  (min-width:768px){
    .owl-nav span{
        font-size: 50px;
       
    }
    .slider-content{
        right: 5%;
        top: 38%;
    }
    .slider-1 .slider-dec{
        font-size: 22px;
    }
    .slider-title, .slider-subtitle{
        font-size: 72px;
    }
    .slider-2 .slider-title{
        font-size: 40px;
        
    }
    .slider-2 .slider-subtitle{
        font-size: 44px;
        
    }
    .underline{
        height: 4px;
        width: 120px;
        margin-top: 15px;
        background-color: #4b4e53;
        --animate-delay: 1.5s;
        
    }
    .slider-dec{
        font-size: 18px;
    }
    .slider-3 .slider-dec{
        display: block;
        font-size: 13px;
    }
    .slider-3 .hover-black{
        display: inline-block;
    }
    .slider-3 .slider-subtitle, .slider-3 .slider-title{
        font-size: 49px;
    }
    .slider-1 .slider-dec{
        font-size: 22px;
    }
    .img-cont{
        height: auto;
    }
    .fes1-cont{
        padding-top: 130px;
        padding-bottom: 110px;
    }
    .title{
        font-size: 60px;
        line-height: 60px;
    }
    .fes2-main-text .title{
        font-size: 45px;
        line-height: 45px;
    }
    .fes2-main-text{
        padding: 145px 50px 140px 50px;
    }
    .fes2-img{
        height: 473px;
    }
    .fes4-cont {
        padding-top: 130px;
        padding-bottom: 80px;
    }
    .work-proc .fes4-cont{
        padding-bottom: 20px;
    }
    .team{
        padding-top: 100px;
    }
    .news{
        padding-top: 110px;
        padding-bottom: 30px;}


        /* portfolio */
        .page-title-text{
            font-size: 24px;
        }
    
        .main{
            padding-top: 140px;
            padding-bottom: 140px;
        }

    /* portfolio boxed 4column */
    .port-filter a{
        width: auto;
    }


    /* shop-single */
    .p-110{
    padding-top: 110px;
    padding-bottom: 110px;
    }

    .shop-client .client-row > div{
        padding: 20px 15px;
    }

    .shop-info{
        padding-top:100px;
        padding-bottom: 80px;
    }


    /* shop cart */

    .table>thead>tr{
        border: none;
        border-bottom: 1px solid #ddd;
    }
    .table>tbody>tr{
        border-left: none;
        border-right: none;
        border-top: 1px solid #ddd;
    }
    

    /* shop-home */
    .blog-carousel-shop{
        /* padding-top: 93px; */
        height: 600px;
    }
    .blog-carousel-shop .slider-img{
        height: 600px;
    }

    .slider-2-shop .slider-content h2{
        font-size: 40px;
        
    }
    .slider-3-shop .slider-content{
        top: 40% !important;
    }
    .slider-3-shop .slider-content > div {
        font-size: 65px;
    }


    .shop-sale{
        height: 135px;
    }
    .shop-sale img{
        height: 100%;
    }

   

    

}
@media screen and  (min-width:992px){
    .slider-content{
        right: 7%;
        top: 38%;
    }
    .slider-title, .slider-subtitle{
        font-size: 85px;
    }
    .slider-2 .slider-title{
        font-size: 52px;
        
    }
    .slider-2 .slider-subtitle{
        font-size: 56px;
        
    }
    .slider-3 .slider-subtitle, .slider-3 .slider-title{
        font-size: 64px;
    }
    .img-cont{
        height: 360px;
    }
    .img-cont img{
        width: 100%;
        height: 100%;
    }
    .fes2-img{
        height: 100%;
    }
    .row-border{
        border-bottom: 1px solid #eee;
    }
    .client-row >div{
        border-left: 1px solid #eee;
    }
    .video-ads-text{
        font-size: 36px;
    }
    .video-ads-a{
        padding: 10px 30px;
    }
    /* portfalio */
    .page-title-text{
        margin-top: 0;
        
    }
    .page-title{
        padding-top: 30px;
    }

    /* portfolio  boxed 4column */
    .items{
        height: 580px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows:repeat(3, 1fr);
    }

    /* shop single */
    .ms-ls-50{
        margin-left: 50px;
    }

    /* shop-home */
    .shop-sale{
        height: 190px;
    }
    .shop-sale img{
        height: 100%;
    }

    .best-sellers .post-prev-count .shop-add-btn{
        width: 70% !important;
    }
    .best-sellers .post-prev-count .medium{
        padding-left:13px !important ;
        padding-right:13px !important ;
    }


    .indent-header-cont{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(3,auto);
        gap: 14px;
    }
    
    .grid-item-2{
        grid-column: 2/2;
        grid-row: 1/3;
    }
    .grid-item-3{
        grid-column: 3/3;
        grid-row: 1/4;
    }
    .grid-item-4{
        grid-column: 4/4;
        grid-row: 1/3;
    }
    .grid-item-5{
        grid-column:2/2 ;
        grid-row: 3/3;
    }
    
    .grid-item-6{
        grid-column:1/1 ;
        grid-row: 2/4;
    }
    .grid-item-7{
        grid-column: 4/4;
        grid-row: 3/3;
    }
    
}
@media screen and  (min-width:1024px){

    .accordion{
        display: none !important;
    }
    .slider-title, .slider-subtitle{
        font-size: 92px;
    }
    .slider-2 .slider-title{
        font-size: 56px;
        
    }
    .slider-2 .slider-subtitle{
        font-size: 58px;
        
    }
    .slider-3 .slider-subtitle, .slider-3 .slider-title{
        font-size: 66px;
    }
    .slider-1 .slider-dec{
        font-size: 30px;
    }
    .medium{
        padding: 10px 37px 10px 37px !important;
    }


    /* portfolio */
    .page-title{
        padding-top: 154px;
        padding-bottom: 58px;
    }

    /* shop-home */
    .blog-carousel-shop, .indent-header{
        padding-top: 93px;
        
    }
    .blog-carousel-shop .owl-stage-outer{
        height: 100%;
    }
    
    .slider-2-shop .slider-content h2{
        font-size: 40px;
        border: 4px solid #fff; 
         padding: 20px; 
        padding-left: 25px;
    }
   
    
}
@media screen and  (min-width:1200px){
    .slider-content{
        right: 13%;
        top: 35%;
    }
    
    .slider-2 .slider-title{
        font-size: 60px;
        
    }
    .slider-2 .slider-subtitle{
        font-size: 62px;
        
    }
    .slider-3 .slider-dec{
        
        font-size: 15px;
    }
    .slider-3 .slider-subtitle, .slider-3 .slider-title{
        font-size: 75px;
    }
    .img-cont{
        height: 446px;
        width: 360px;
    }
    .container-md, .container{
        width: 1170px !important;
    }

    /* shop-home */
    .shop-sale{
        height: 238px;
    }
    .shop-sale img{
        height: 100%;
    }

    
}
@media (min-width:1250px) {
    /* home-shop */
    .p-75{
        padding: 0 75px 75px 75px;
    }
    .container, .container-md{
        width: auto !important;
    }

    .blog-carousel-2 .owl-nav .owl-prev{
        animation-name: slider-btn-prev;
        animation-duration: .3s;
       
    }
    .blog-carousel-2 .owl-nav .owl-next{
        animation-name: slider-btn-next;
        animation-duration: .3s;
    }
    
    
}
@media screen and  (min-width:1400px){
    .slider-content{
        right: 18%;
        top: 30%;
    }
    .slider-2 .slider-content{
        right: 15%;
        top: 37%;
    }
    .slider-2 .slider-content{
        right: 15%;
        top: 37%;
    }
    .slider-3 .slider-content{
        right: 15%;
    }
}


.accordion{
    display: none;
}
.accordion-toggle{
    display: block;
}